<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./templates/head') %>
    <link rel="stylesheet" href="/auth/signup.css">
</head>
<body>
    <%- include('./templates/nav') %>

    <div class="wrapper">
        <h2>
            <strong>404</strong>
            <br />
            Oops :) Resource not found
        </h2>
        <a href="/" style="font-size: larger;">Return to a homepage</a>
    </div>

    <%- include('./templates/footer') %>
</body>
</html>