.wrapper button {
    min-width: 6rem;
    border-radius: 0 5px 5px 0px;
}

.form-control:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(50, 168, 82, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}